<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Boolzap</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app" class="container-fluid">
        <div class="background_up"></div>
        <div class="background_down"></div>
        <div class="container">

                        <!-- SIDEBAR -->

            <nav class="contact-wrapper"> 
                        <!-- TOOLBAR -->
                <div class="utent-bar">
                    <img src="img/.jpeg" alt="" class="thumb-35">
                    <p class="utent-name">Elena</p>
                    <div class="utent-menu-wrapper">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                        <!-- NOTIFICATION-BAR -->
                <div class="notification-container">
                    <span class="notification-icon-wrapper">
                        <i class="fa-solid fa-bell-slash"></i>
                    </span>
                    <div class="notification-wrapper">
                        <p class="notification-text">Ricevi notifiche di nuovi utenti</p>
                        <p class="notification-activator">Attiva notifiche desktop</p>
                    </div>
                </div>
                        <!-- SEARCH-BAR -->
                <div class="search-bar-container">
                    <span class="search-bar-icon-wrapper">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input type="text" class="search-bar-input" placeholder="Cerca o inizia una nuova chat" value="">
                </div>
                        <!-- CONTACT LIST -->
                <div class="contact-list-container">
                    <ul class="contact-list">
                        <li v-for="(el, index) in contacts" 
                        :class=" index == currentIndex ? 'contact-list-active' : '' " 
                        class="contact" 
                        @click="activeChatFn(index)">
                            <figure>
                                <img :src="el.avatar" alt="" width="42" height="42">
                            </figure>
                            <div class="contact-list-item-text">
                                <div class="contact-text">
                                    <p>{{el.name}}</p>
                                    <p class="text-grey">{{el.messages[0].text}}.</p>
                                </div>
                                <p class="contact-list-date text-grey">{{el.messages[0].date}}</p>
                            </div>
                        </li>                        
                    </ul>
                </div>
            </nav>

                        <!-- CHAT-CONTAINER -->

            <div class="chat-container">
                        <!-- CHAT-HEADER-BAR -->
                <div class="active-chat-bar">
                    <img :src="contacts[currentIndex].avatar" alt="" width="42" height="42">
                    <div class="chat-bar-text">
                        <p class="">{{contacts[currentIndex].name}}</p>
                        <p class="text-grey">Ultimo accesso 28/02/2022 12:07</p>
                    </div>
                    <div class="utent-menu-wrapper">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                        <!-- CHAT-MAIN-WRAPPER -->
                <div class="active-chat">
                    <div class="message-container-fluid">

                            <div v-for="(el, index) in contacts[currentIndex].messages" 
                            :class="el.status == 'sent' ? 'sent' : '' " 
                            class="message-wrapper received">
                                <p class="message-text">{{el.text}}</p>
                                <p class="message-date">15/11/2021 15:01</p>
                            </div>
                    </div>
                </div>
                            <!-- CHAT-FOOTER-BAR -->
                <div class="chat-text-bar">
                    <span class="chat-bar-icon"><i class="fa-regular fa-face-smile"></i></span>
                    <input type="text" 
                    class="chat-bar-input"
                    v-model="inputText"
                    @keyup.enter="sendInputText(currentIndex)">
                    <span class="chat-bar-icon"><i class="fa-solid fa-microphone"></i></span>
                </div>
            </div>
        </div>

    </div>
    






    <script src="app.js"></script>
</body>
</html>